@layer theme, base, components, utilities;

@theme {
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
  /* --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.3);
      --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 10px -5px rgba(0, 0, 0, 0.3); */

  --z-0: 0;
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-auto: auto;

  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  --color-primary: #8b5cf6;
  --color-border-1: #1d2533;
  --color-border-2: #ddd6fe;
  --color-border-opacity-1: rgba(29, 37, 51, 0.5);
  --color-border-opacity-2: rgba(29, 37, 51, 0.2);

  --color-section-1: #182341;
  --color-section-2: #1f2a37;
  --color-section-3: #111928;
  --color-section-4: #0d1117;

  --color-gray-1: #f3f4f6;
  --color-gray-2: #9ca3af;
  --color-gray-3: #4b5563;

  --color-slate-1: #475569;
  --color-slate-2: #1e293b;
  --color-slate-3: #0f172a;

  --color-tab-1: #213e75;
  --color-tab-2: #1c2c49;

  --color-blue-1: #60a5fa;
  --color-blue-2: #3b82f4;
  --color-blue-3: #3758f9;

  --color-violet-1: #7480ff;
  --color-violet-2: #4f46e5;
  --color-violet-3: #4338ca;

  --color-purple-1: #a684ff;
  --color-purple-2: #cdabee;
  --color-purple-3: #a855f7;
  --color-purple-4: #7c3aed;

  --color-rose-1: #fb7185;
  --color-rose-2: #f43f5e;

  --color-fuchsia-1: #86198f;
  --color-fuchsia-2: #7b1fa2;
  --color-fuchsia-3: #701a75;

  --color-teal-1: #14b8a6;
  --color-teal-2: #0d9488;
  --color-teal-3: #115e59;

  --animate-scroll: scroll var(--animation-duration, 70s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}