@import "tailwindcss";
@import "./css/theme.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  body {
    color: white;
    overflow-x: hidden;
  }

  :focus-visible {
    outline: none;
  }

  button {
    cursor: pointer;
    /* &:hover {
      transform: translateY(-1px);
    }
    &:active {
      transform: translateY(1px);
    } */
  }
}

/*   

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
} */