@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  html {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  body {
    /* font-family: "Inter"; */
    color: white;
    overflow-x: hidden;
  }

  section {
    min-height: 100vh;
    min-height: 100dvh;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-inline: 0.5rem; */

    @media (min-width: 640px) {
      padding-inline: 0.1rem;
    }

    @media (min-width: 1024px) {
      padding-inline: 2rem;
    }
  }


  button {
    cursor: pointer;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(1px);
    }
  }



}

