@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 262.1 73.3% 57.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 262.1 73.3% 87.8%;
    --ring: 262.1 73.3% 57.8%;
    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --section-dark: 219, 40.40%, 11.20%;

    --gray-dark: #1f2a37;
    --black-color: #282a36;
    --section-gray: #111928;
    --purple-color: #3f3cbb;
    --violet-color: #7f45e2;
    --color-border-dark: #232b3a;
    --color-border-gray: rgb(65, 66, 68);
  }
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/* contacto */
.ee {
  width: 6.25rem;
}

.ep {
  gap: 2.5rem;
}

.fontTitle {
  font-family: 'Segoe UI';
  font-weight: bolder;
}


input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  border-radius: 0.5rem;
  border: 1px solid rgba(241, 241, 241, 0.23);
}

input {
  height: 2.5rem;
}

textarea {
  height: 5rem;
  padding-top: 0.5rem;
}

button,
[type='reset'],
[type='submit'] {
  appearance: button;
}

Button,
Link {
  cursor: pointer;
}

/* BOOSTRA */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 520px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--section-dark));
    color: hsl(var(--foreground));
  }
}

@layer utilities {
  .bg-section-dark {
    background-color: hsl(var(--section-dark));
  }

  .bg-gray-dark {
    background-color: var(--gray-dark);
  }

  .bg-ring {
    background-color: var(--violet-color);
  }

  .bg-purple-color {
    background-color: var(--purple-color);
  }

  .bg-card {
    background-color: hsl(var(--card));
  }

  .bg-border {
    background-color: hsl(var(--muted));
  }

  .bg-popover {
    background-color: hsl(var(--popover));
  }

  .bg-destructive {
    background-color: hsl(var(--destructive));
  }

  .border-gray-dark {
    border-color: var(--color-border-dark);
  }

  .border-violet-color {
    border-color: var(--violet-color);
  }

  .border-gray-color {
    border-color: var(--color-border-gray);
  }
}


.dropdown-menu-content {
  background-color: rgb(248, 248, 248)
}

.dark .dropdown-menu-content {
  background-color: rgb(23, 33, 53)
}

.dark .dropdown-item {
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(30, 64, 175, 0.3);
  cursor: pointer;
}


@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

.accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* BOTÓN CERRAR MODAL*/
.close {
  position: absolute;
  display: flex;
  top: 20px;
  right: 35px;
  scale: 1;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover {
  scale: 1.2;
  cursor: pointer;
}



/* CARRUSEL EMBLA */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}

.emblafull {
  max-width: 60rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.15rem rgba(160, 160, 160, 0.5);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
  border-radius: 50%;
  color: rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: rgb(192, 192, 192);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(230, 230, 230, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem rgb(148, 148, 148);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem rgb(96, 67, 226);
}

.embla__parallax {
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}

.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  object-fit: cover;
}

.embla__progress {
  border-radius: 1.3rem;
  box-shadow: inset 0 0 0 0.15rem rgba(160, 160, 160, 0.5);
  background-color: rgb(17, 25, 40);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}

.embla__progress__bar {
  background-color: rgb(222, 222, 222);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

/* Spinner de carga */
.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #3498db;
  /* Color del spinner */
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}